{% extends 'base.html.twig' %}

{% block title %}Libro index{% endblock %}

{% block body %}
    <h1>Libro index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Autora</th>
                <th>Editorial</th>
                <th>Precio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for libro in libros %}
            <tr>
                <td>{{ libro.id }}</td>
                <td>{{ libro.nombre }}</td>
                <td>{{ libro.autora }}</td>
                <td>{{ libro.editorial }}</td>
                <td>{{ libro.precio }}</td>
                <td>
                    <a href="{{ path('app_libro_show', {'id': libro.id}) }}">show</a>
                    <a href="{{ path('app_libro_edit', {'id': libro.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_libro_new') }}">Create new</a>
{% endblock %}
