{% extends 'base.html.twig' %}

{% block title %}Libro{% endblock %}

{% block body %}
    <h1>Libro</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ libro.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ libro.nombre }}</td>
            </tr>
            <tr>
                <th>Autora</th>
                <td>{{ libro.autora }}</td>
            </tr>
            <tr>
                <th>Editorial</th>
                <td>{{ libro.editorial }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ libro.precio }}</td>
            </tr>
        </tbody>
    </table>
    <a  class="btn btn-primary" role="button" href="{{ path('app_libro_index') }}">Volver a la lista</a>
    <a class="btn btn-primary" role="button" href="{{ path('app_libro_edit', {'id': libro.id}) }}">Editar</a>

    {{ include('libro/_delete_form.html.twig') }}
{% endblock %}
